	<!-- 
		
		This template has to be always loaded before "rate_box_view" 
		because of a dependecy JavaScript code that will be required by the rate_view_box 
		template.
		
	 -->

<script type="text/javascript">

	function renderAvgVoteBox(avgRating,voteBoxID){

		var avgVoteBlockFillPercent = ( avgRating / 5.0 ) * 100.0; 
		$("#" + voteBoxID + "-average-vote .current-rating")
			.css({'width':''+ avgVoteBlockFillPercent + '%'})
			.text(avgRating + ' Star(s).' );
	
	}

	function renderUserVoteBox(userRating,voteBoxID){
	
		var userVoteBlockFillPercent = ( userRating / 5.0 ) * 100.0;
		$("#" + voteBoxID + "-user-vote .current-rating")
			.css({'width':''+ userVoteBlockFillPercent + '%'})
			.text(userRating + ' Star(s).' );
	
	}

	/*
	*	This is done to stop the default behavior when an "a href" link is clicked. 
	*	The href attribute was introduced because IE wont color on hover 
	*	if href is not present.
	*/	
	
	$(document).ready(function(){

		$(".star-rating-readonly").live('click', function(){
			return false;
		});
		
	});

	
	
</script>