<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.iu.iv.radialgraph"
   name="Radial Graph Plug-in"
   version="1.0.4"
   provider-name="Team IVC">

   <runtime>
      <library name="radialgraph.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="edu.iu.iv.core"/>
      <import plugin="edu.iu.iv.prefuselib"/>
   </requires>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="edu.iu.iv.radialgraph.actionSet"
            visible="true"
            id="edu.iu.iv.radialgraph.actionSet">
         <action
               label="Radial Graph"
               class="edu.iu.iv.radialgraph.RadialGraphPlugin"
               tooltip="Select to launch Radial Graph Plug-in"
               menubarPath="visualization/additions"
               id="edu.iu.iv.radialgraph.RadialGraphPlugin">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.iu.iv.radialgraph.RadialGraphPlugin">
      </startup>
   </extension>

</plugin>
