<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.iu.informatics.analysis.undirectedknn"
   name="UndirectedKNN Plug-in"
   version="1.0.0"
   provider-name="Team IVC">

   <runtime>
      <library name="undirectedKNN.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="edu.iu.iv.core"/>
      <import plugin="edu.iu.informatics.shared"/>
      <import plugin="edu.iu.nwb.core"/>
   </requires>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="edu.iu.informatics.analysis.undirectedknn.actionSet"
            visible="true"
            id="edu.iu.informatics.analysis.undirectedknn.actionSet">
         <action
               label="Undirected K-Nearest Neighbor"
               class="edu.iu.informatics.analysis.undirectedknn.UndirectedKNNPlugin"
               tooltip="Select to launch UndirectedKNN Plug-in"
               menubarPath="Analysis/additions"
               id="edu.iu.informatics.analysis.undirectedknn.UndirectedKNNPlugin">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.iu.informatics.analysis.undirectedknn.UndirectedKNNPlugin">
      </startup>
   </extension>

</plugin>
