{% load tags_templatetags %}

<ul class="taglist">
  {% if tags %}
    {% for tag in tags %}
      <li>
      {% if not forloop.last %}
        <a href="{{ tag.get_tag_url }}">
      {% else %}
        <a href="{{ tag.get_tag_url }}" class="lasttag">
      {% endif %}
      
      {{ tag.tag }}</a></li>
    {% endfor %}
  {% endif %}
  
  {% if user and user.is_authenticated %}
    {# TODO: Add Tag button.
    <li class="lasttag">
      
    </li>
    #}
  {% endif %}
</ul>
