<div id="tagbox">
	{% if not tags %}
		There are no tags yet.
	{% endif %}
</div>

<div id="tag_hover">
</div>

<script type="text/javascript" src="/media/tags/javascript/tagcloud.js"></script>
<script type="text/javascript">
	<!--
		// TODO: Comment this code.
		
		var tagCloud = TagCloud.create();
		var currentDate = Date();
		var parsedDate = Date.parse(currentDate);
		
		{% for tag in tags %}
			tagCloud.add("{{ tag.tag_name }}", {{ tag.font_size }}, "{{ tag.get_tag_url }}", parsedDate);
		{% endfor %}
		
		tagCloud.loadEffector("CountSize").base(10).range(10);
		tagCloud.loadEffector("DateTimeColor");
		tagCloud.loadEffector("Alphabetize");
		
		function setup()
		{
			tagCloud.setup("tagbox");
		}
		
		setup();
		
		function showHoveringTag(event)
		{
			var eventTarget = event.target;
			$("#tag_hover").html(eventTarget.name);
			
			$("#tag_hover").css(
				{
					"top": event.clientY - 100,
					"left": event.clientX - 30,
					"z-index": "111",
					"visibility": "visible", 
				}
			);
		}
		
		function hideHoveringTag(event)
		{
			$("#tag_hover").css(
				{
					"top": 0,
					"left": 0,
					"visibility": "hidden"
				}
			);
			
			$("#tag_hover").html("");
		}
		
		$(document).ready(
			function()
			{
				$("#tagbox li").hover(showHoveringTag, hideHoveringTag);
				$("#tagbox li").mousemove(showHoveringTag);
			}
		);
	//-->
</script>