{% extends "core/bases/simple_base.html" %}

{% block css %}
  {{ block.super }}
  <link href="/core_media/css/star_rating.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  <h3>Displaying profile of {{ profile.user.first_name }} {{ profile.user.last_name }}.</h3>
  <p><b>Username:</b> {{ profile.user.username }}</p>
  <p><b>First Name:</b> {{ profile.user.first_name }}</p>
  <p><b>Last Name:</b> {{ profile.user.last_name }}</p>
  <p><b>Affiliation:</b> {{ profile.affiliation }}</p>
  <p><b>Date Joined:</b> {{ profile.user.date_joined|date:"F d, Y - P" }}</p>
  
  {% ifequal profile.user user %}
    <p><b><a href="{% url core.views.edit_profile %}">Edit Profile</a></b></p>
  {% endifequal %}
  
  <p><b><a href="{% url core.views.change_password %}">Change Password</a></b></p>
  
  <hr />
  
  {% if datasets %}
    <h3>Your Datasets</h3>
          
    {% load dataset_templatetags %}
    {% list_datasets datasets %}
  {% else %}
    <p>You have not uploaded any datasets.</p>
  {% endif %}
  
  {# TODO: Clean up the styling here #}
  <a href="{% url datasets.views.view_datasets %}">View All Datasets</a>
  
  {# Listing all the un-canceled data requests made by the user. #}
  
  <hr />
  
  {% if datarequests %}
    <h3>Your Data Requests</h3>
    
    {% load datarequest_templatetags %}
    {% display_datarequests datarequests %}
  {% else %}
    <p>You have not made any data requests.</p>
  {% endif %}
  
  <a href="{% url datarequests.views.view_datarequests %}">View All Data Requests</a>
{% endblock %}
