{% if datarequests %}
 	{% for datarequest in datarequests %}
		<div class="databox">
		  <h1> <a href="{% url datarequests.views.view_datarequest item_id=datarequest.id %}">{{ datarequest.name }}</a></h1>
		  <ul class="datainfo">
		  	<li id="first">{{ datarequest.creator.get_profile }}</li>
			<li>{{ datarequest.created_at|date:"F d, Y - P" }}</li>
			{% if user.is_authenticated %}
				{% ifequal user datarequest.creator %}
					<li><a href="{% url datarequests.views.edit_datarequest item_id=datarequest.id %}">Edit</a></li>
				{% else %}
					<li><a href="{% url messages.views.send_message user_id=user.id, recipient_id=datarequest.creator.id %}">Contact Creator</a></li>
				{% endifequal %}
			{% endif %}
		  </ul>
		  <p>{{ datarequest.description|linebreaks|truncatewords:50 }}</p>  
		  <div class="comments">
			<a href="{% url datarequests.views.view_datarequest item_id=datarequest.id %}">{{ datarequest.comments.all|length }} comment{{ datarequest.comments.all|length|pluralize }}.</a>
		  </div>   
		</div>
	{% endfor %}
{% endif %}