{# TODO: what to display if no datarequests #}
{% if datarequests %}
  {% for datarequest in datarequests %}
	<div class="requests">
		<h2><a href="{% url datarequests.views.view_datarequest item_id=datarequest.id %}">{{ datarequest.name }}</a></h2>
		<p>{{ datarequest.description|truncatewords:15 }}</p>
		<div class="comments">
			<a href="{% url datarequests.views.view_datarequest item_id=datarequest.id %}">{{ datarequest.comments.all|length }} comment{{ datarequest.comments.all|length|pluralize }}.</a>
		</div>
	</div>
  {% endfor %}
{% endif %}