{% extends "core/bases/browse_base.html" %}

{% load tags_templatetags %}

{% block content %}
  <div id="error-message">
    {% block messages %}
      {% for message in messages %}
        {{ message }}
      {%endfor%}
    {% endblock %}
  </div>
  
  {% if messages %}
    <div class="highlight" id="message">
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  {% if not project.is_active %}
    <p>This project is not available.</p>
  {% else %}
    <div class="databox">
      {% load project_templatetags %}
      {% show_project_header project %}
      
      <p>{{ project.description|linebreaksbr }}</p>
    </div>
    
    <h3>Project Datasets</h3>
    {% load dataset_templatetags %}
    {% list_datasets project.datasets.all %}
    
    <br />
    
    {% if user.is_authenticated %}
      DOWNLOAD BUTTON WILL GO HERE
    {% else %}
      <h2>
        {# TODO: Make this not a big fat hack. #}
        {# We should be using the url template tag instead of the hardcoded url. #}
        Please <a href="/login/?next={{ project.get_absolute_url }}">login</a> to download this project.
      </h2>
    {% endif %}
    
    <h4>
      Please Cite This Project As:<br/>"{{ project.name|escape }}." <span class="source_name">EpiC Community Website.</span> {{ project.created_at|date:"d M Y" }}. {% now "d M Y" %} &lt;<a>{{ project.get_absolute_url }}</a>&gt;
    </h4>
    
    {% load comment_templatetags %}
    {% comments_section project user form %}
  {% endif %}
{% endblock %}
