{% extends "core/base.html" %}
{% block content %}
<div id="column1"> 
	{% if user.is_authenticated %}
		<div id="requestbox">
		<h1>Make a Request</h1>
	   	<br />
		<form enctype="multipart/form-data" action="/datarequests/new/" method="POST">
	    {{ datarequest_form.name }}
	    <br />
	    <br />
	    {{ datarequest_form.description }}
	    <p><input type="submit" value="Upload" /></p>
		</form>
	{% endif %}
	</div>
	{% load datarequest_templatetags %}
	{% display_recently_fulfilled_requests %}
</div>

<div id="column2">
{% load datarequest_templatetags %}
{% display_recent_requests %}
</div> 

{% endblock %}