{% extends "core/base.html" %}
{% block container %}
<div id="column1"> 
	{% if user.is_authenticated %}
		<div id="requestbox">
			<h1>Make a Request</h1>
		   	<br />
			<form enctype="multipart/form-data" action="{% url datarequests.views.new_datarequest %}" method="POST">
		    {{ datarequest_form.name }}
		    <br />
		    <br />
		    {{ datarequest_form.description }}
		    <input type="submit" value="Upload" />
			</form>
		</div>
	{% endif %}
	{% load datarequest_templatetags %}
	{% display_recently_fulfilled_requests %}
</div>

<div id="column2">
{% load datarequest_templatetags %}
{% display_recent_requests %}
</div> 

{% endblock %}