{% extends "core/bases/browse_base.html" %}

{% load category_templatetags %}
{% load comment_templatetags %}
{% load core_templatetags %}
{% load tags_templatetags %}

{% block content %}
  <div class="requestspage">
    <span class="highlight">
      Status: {{ datarequest.get_status_display|capfirst }}
    </span>
    
    <h2>
      <a href="{% url datarequests.views.view_datarequest item_id=datarequest.id slug=datarequest.slug %}">
        {{ datarequest.name }}
      </a>
    </h2> 
    
    <ul class="datainfo">
      <li class="first">{% user_title datarequest.creator 'True' %}</li>
      <li>{{ datarequest.created_at|date:"F d, Y - P" }}</li>
      
      {% ifequal user datarequest.creator %}
        {% ifnotequal datarequest.status 'C'%}
          {% ifnotequal datarequest.status 'F' %}
            <li>
              <a href="{% url datarequests.views.cancel_datarequest item_id=datarequest.id slug=datarequest.slug %}">
                Mark Canceled
              </a>
            </li>
            
            {% comment %}
            <!-- Taken out as per Micah.
              <li>
                <a href="{% url datarequests.views.fulfill_datarequest item_id=datarequest.id slug=datarequest.slug %}">
                  Mark Fulfilled
                </a>
              </li>
            -->
            {% endcomment %}
            
            <li>
              <a href="{% url datarequests.views.edit_datarequest item_id=datarequest.id slug=datarequest.slug %}">
                Edit
              </a>
            </li>
          {% endifnotequal %}
        {% endifnotequal %}
      {% endifequal %}
      
      {% if user.is_authenticated %}
        {% ifnotequal user datarequest.creator %}
          <li>
            <a href="{% url messages.views.send_message user_id=user.id, recipient_id=datarequest.creator.id %}">
              Contact Creator
            </a>
          </li>
        {% endifnotequal %}
      {% endif %}
    </ul>
    
    <p>{{ datarequest.rendered_description|safe|linebreaksbr }}</p>
    {% category_link datarequest %}
    {% list_item_tags datarequest user 'True' %}
  </div>

  {% comments_section datarequest user form %}
{% endblock %}
