ul.tabs {
    margin:0;
    padding:0;
}
ul.tabs li {
    display:block;
    float:left;
    padding:0 5px;
}
ul.tabs li a {
    display:block;
    float:left;
    padding:5px;
    font-size:0.8em;
    background-color:#e0e0e0;
    color:#666;
    text-decoration:none;
}
a.link_selected {
    font-weight:bold;
}

.tab_selected {
    background-color: rgb(210,49,101);
}
