{% comment %}
  "rate_box_javascript" template has to be always loaded before "rating_display_box" 
  because of a dependecy JavaScript code that will be required by the rate_view_box 
  template.
{% endcomment %}

<div class="ratingsbox">
  <span class="average-voting">
    <span class="inline-rating">
      <ul class="star-rating" id="{{ item_id }}-average-vote">
        <li class="current-rating" style="width:0%;">0 Star</li>
        <li><a href="" id="1" title="Very Poor Quality" class="one-star">1</a></li>
        <li><a href="" id="2" title="Poor Quality" class="two-stars">2</a></li>
        <li><a href="" id="3" title="Average Quality" class="three-stars">3</a></li>
        <li><a href="" id="4" title="High Quality" class="four-stars">4</a></li>
        <li><a href="" id="5" title="Very High Quality" class="five-stars">5</a></li>
      </ul>
    </span>
  </span>
  
  <p><span id="average-value">{{ rating|default_if_none:"No" }}</span> Average | <span id="votes-value">{{ votes }}</span> Vote{{ votes|pluralize }}</p>
  
  {% if user_rating %}
    {% comment %}
    If the user rating is provided then render the star box.
    {% endcomment %}
    
    {% comment %}
    Turned off the "User Vote Display" 
    
    <br />
    
    <span class="user-voting">
      Your Vote: <span id="user-vote-value">{{ user_rating }}</span> 
      
      <span class="inline-rating">
        <ul class="star-rating  small-star" id="{{ item_id }}-user-vote">
          <li class="current-rating" style="width:0%;">0 Star</li>
          <li><a href="" title="Very Bad" class="one-star">1</a></li>
          <li><a href="" title="Bad" class="two-stars">2</a></li>
          <li><a href="" title="Average" class="three-stars">3</a></li>
          <li><a href="" title="Good" class="four-stars">4</a></li>
          <li><a href="" title="Very Good" class="five-stars">5</a></li>
        </ul>
      </span>
    </span>
    {% endcomment %}
    
    <script>
$(document).ready(function(){
  /*
   *  These methods basically render the fill the stars according to the rating.
   *  These methods are defined in the rate_view_box_helper to avoid multiple 
   *  copies of the same function when more than 1 dataset is displayed. 
   */
  
  renderAvgVoteBox({{ rating }},{{ item_id }});
  
  /*
  renderUserVoteBox({{ user_rating }},{{ item_id }});
  */
  
  /*
   *  Disable user interaction with the stars.
   */
  
  $("#{{ item_id }}-average-vote").addClass("star-rating-readonly");
  
  /*  
  $("#{{ item_id }}-user-vote").addClass("star-rating-readonly");
  */
});
    </script>
  {% else %}  
    <script>
$(document).ready(function(){
  var inputRatingString = '{{ rating }}';
  
  if(inputRatingString.toLowerCase() == 'none') {
    inputRatingString = 0;
  }
  else {
    inputRatingString = {{ rating }};
  }
  
  renderAvgVoteBox(inputRatingString,{{ item_id }});
  $("#{{ item_id }}-average-vote").addClass("star-rating-readonly");
});

    </script>
    
    <a href="{% url datasets.views.view_dataset item_id=item_id %}">Rate Now</a>
  {% endif %}
</div>
