<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.iu.iv.prefuselib"
   name="Prefusebase Plug-in"
   version="1.0.4"
   provider-name="Team IVC">
   <runtime>
      <library name="prefuse.jar">
         <export name="*"/>
      </library>
      <library name="prefusex.jar">
         <export name="*"/>
      </library>
   </runtime>

</plugin>
