<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% block head %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{% block title %}EpiC Community Website{% endblock %}</title>
  
	{% block css %}
		<link href="/core_media/css/epic.css" rel="stylesheet" type="text/css" />
	{% endblock %}
		
	{% block scripts_header %}
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	{% endblock %}

{% endblock %}
</head>
<body>
<div id="container">
  {% block container %}
  <div id="header">
    {% block header %} 
    <div id="logo">{% block logo %}{% endblock %}</div>
    <div id="login">
      {% block login %}
        {% if user.is_authenticated %}
       	<span id="logged-in-user"><a href="{% url core.views.view_profile %}">
       		{% if user.get_full_name %}
       		{{ user.get_full_name }}
       		{% else %}
       		{{ user.username }}
       		{% endif%}
       		</a> | </span>
          <a href="{% url messages.views.index user_id=user.id %}">Messages</a> | 
          <a href="{% url core.views.logout_view %}">Log Out</a>
        {% else %}
          {% load core_templatetags %}
          {% login_box %}
        {% endif %}
      {% endblock %}
    </div>
    <div id="nav">
      {% block nav %}
      <ul>   
        {# TODO:  set the pageon based on the actual page #}
        {# TODO: use the url tag once the actual navigation tags have been decided on #}
        <li><a href="/" class="pageon"><span>Browse</span></a></li>
        <li><a href="/datasets/new/"><span>Share</span></a></li>
        <li><a href="/datarequests/"><span>Request</span></a></li>
        <li><a href="#"><span>About</span></a></li>
      </ul> 
      {% endblock %}
    </div>
    {% endblock %}
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div> 
  {% endblock %}
</div>
{% block scripts_footer %}
{% endblock %}
</body>
</html>
