<html>
<head>
<title>{% block title %}{% endblock %}</title>
</head>

<body>
		{% if messages %}
            <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
        {% endif %}
		{% if user.is_authenticated %}
            <div id="user-tools">Welcome, <strong>{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</strong>. <br />{% block userlinks %}<a href="/logout/">Log out</a>{% endblock %}</div>
        {% else %}
            <div id="user-tools">{% block loginbox %}<a href="/login/">Login</a>{% endblock %}</div>
        {% endif %}
        
        {% block content %}{% endblock %}

</body>
</html>
