<html>
<head>
<title>{% block title %}EpiC Community Website{% endblock %}</title>
</head>

<body>
		{% if messages %}
            <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
        {% endif %}
		{% if user.is_authenticated %}
            <div id="user-tools">Welcome, <strong>{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</strong>. <br />{% block userlinks %}<a href="/user/">Profile</a> | <a href="/user/{{ user.id }}/messages">Messages</a> | <a href="/logout/">Log out</a>{% endblock %}</div>
        {% else %}
			<div id="user-tools">
            {% block login_box %}
            {% load core_templatetags %}
            {% login_box %}
            {% endblock %}
			</div>
        {% endif %}
        {% block nav %}
        	<a class="deactivenav" href="/datasets">Browse</a>
			<a class="deactivenav" href="/datasets/new/">Upload</a>
			<a class="deactivenav" href="/datarequests">Request</a>
			<a class="deactivenav" href="#">About</a>
		{% endblock %}
        {% block content %}{% endblock %}

</body>
</html>
