{% extends "core/base.html" %}
{% block container %}
	<p>
		
		<!--The username or email was supplied, which means data was POST'ed prior.-->
		{% if not_found %}
			{% if username %}
				The username {{ username }} is not valid.  Please try again.
			{% else %}
				{% if email %}
					The email {{ email }} is not valid.  Please try again.
				{% endif %}
			{% endif %}
		{% else %}
			{% if not form %}
				<!-- TODO: This is a very bad idea.  I can get the email of every user on the site by using this form... -->
				The password for <b>{{ username }}</b> has been reset and e-mailed to <b>{{ email }}</b>.
			{% endif %}
		{% endif %}
	</p>
	
	{% if form %}
		<form action="{% url core.views.forgot_password %}" method="POST">
			{{ form.as_table }}
			<input type="submit" value="Submit">
		</form>
	{% endif %}
{% endblock %}