{% extends "core/bases/base.html" %}

{% block maincontent %}
  <div id="browsecontent">
    {% load tags_templatetags %} 
    {# TODO: Tagbox should be a separate div inside leftsidebar, or whatever we call it. #}
    
    {% block leftsidebar %}
      {% show_tag_cloud %}
    {% endblock %}
    
    <div id="homecolumn2">
      {% block homecolumn2 %}
      {% endblock %}
    </div>
    
    <div id="homecolumn3">
      {% block homecolumn3 %}
      {% endblock %}
    </div>
  </div>
{% endblock %}