{% if datarequests %}
  <h1>Recently Fulfilled Requests</h1>
  
  {% for datarequest in datarequests %}
    <h2>
      {% if datarequest.fulfilling_item %}
        <a href="{% url datasets.views.view_dataset item_id=datarequest.fulfilling_item.id slug=datarequest.fulfilling_item.slug %}">
          {{ datarequest.name }}
        </a>
      {% else %}
        <a href="{% url datarequests.views.view_datarequest item_id=datarequest.id slug=datarequest.slug %}">
          {{ datarequest.name }}
        </a>
      {% endif %}
    </h2>
    
    <p>{{ datarequest.tagless_description|truncatewords:50 }}</p>
  {% endfor %}
{% else %}
  <p>No data requests have been fulfilled yet.</p>
{% endif %}
