{% autoescape off %}
{% if form.non_field_errors %}<ul class="errorlist">{{ form.non_field_errors.as_ul }}</ul>{% endif %}
{% for field in form %}
  {% if field.is_hidden %}
    {{ field.as_table }}
  {% else %}
    <tr>
      <th>
        {% if field.field.required %}<span class="required_field">{{ field.label_tag }}</span>{% else %}{{ field.label_tag }}{% endif %}
      </th>
      <td>
        {{ field.errors }}
        {{ field }}
        {{ field.help_text }}
      </td>
    </tr>
  {% endif %}
{% endfor %}
{% endautoescape %}