{% extends "core/bases/simple_base.html" %}

{% block content %}
  <h3>Edit {{ project.name }}:</h3>
  <form action="{% url projects.views.edit_project item_id=project.id slug=project.slug %}" method="POST">
    <table class="form">
      {% load core_templatetags %}
      {% include_form_as_table edit_project_form 'True' %}
	  {{ project_datasets.as_table }}
    </table>
    
    <input type="submit" value="Save" name="save" />
    <br />
    <a href="{% url projects.views.confirm_delete_project item_id=project.id slug=project.slug %}">
      Delete this project
    </a>
    <br />
    <a href="{% url projects.views.view_project item_id=project.id slug=project.slug %}">
      Cancel
    </a>
  </form>
  <script type="text/javascript" src="/core_media/javascript/add_more_forms_to_formset.js"></script>
  <script type="text/javascript">
    projectDatasetsFormSet = new FormSet('projectDatasetsFormSet', 'project_datasets', 'dataset_url', 'DataSet URL:');
	initialize(projectDatasetsFormSet);
  </script>
{% endblock %}