{% extends "core/bases/simple_base.html" %}

{% block content %}
  <h3>Edit {{ project.name }}:</h3>
  <form action="{% url projects.views.edit_project item_id=project.id slug=project.slug %}" method="POST">
    <table class="form">
      {% load core_templatetags %}
      {% include_form_as_table edit_project_form 'True' %}
      {% include_form_as_table add_dataset_to_project_form 'True' %}
      
      {% for dataset in datasets %}
        <tr>
          <th>
            <label for="Datasets">Remove dataset '{{ dataset.name }}'?</label>
          </th>
          <td>
            <input id="remove-dataset-{{ dataset.id }}" name="remove-dataset-{{ dataset.id }}" type="checkbox" />
          </td>
        </tr>
      {% endfor %}
    </table>
    
    <input type="submit" value="Save and Continue Editing" name="save_and_continue_editing" />
    <input type="submit" value="Save and Finish Editing" name="save_and_finish_editing" />
    <br />
    <a href="{% url projects.views.confirm_delete_project item_id=project.id slug=project.slug %}">
      Delete this project
    </a>
    <br />
    <a href="{% url projects.views.view_project item_id=project.id slug=project.slug %}">
      Cancel
    </a>
  </form>
  
{% endblock %}