@charset "UTF-8";
/* CSS Document */



html, body {
	background-image: url(/core_media/images/BG-pattern.jpg);
	margin:0;
	padding:0;
	font-family: Georgia, "Times New Roman", Times, serif;
	

	color: #333333;
}

#container { margin-left:auto;
	margin-right:auto; width:900px; }


#header {
	width:900px;
	font-weight: bold;
}

#logo {
	background-image: url(/core_media/images/top_01_03.gif);
	float:left;
	margin:0;
	padding:0; margin-left:20px; 
	height: 76px;
	width: 197px;
}
#login {
	background-image: url(/core_media/images/top_03.jpg);
	float:right;
	height: 64px;
	width: 165px;
	padding-left:5px;
	background-repeat: no-repeat;
}
	
#login a, a:visited {
	font-weight: bold;
	color: #FFFFFF;
}
#login a:hover, a:active {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}

  
	
	
.comments a, .comments a:visited {
	font-size: 77%;
	color: #999999;
	margin-bottom:5px; 
}

.comments a:hover, .comments a:active {
	font-size: 77%;
	color: #000000;
	background-color: #CCCCCC;
}


#header ul {
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	margin-bottom:0;
	padding:0;
	height:80px; 
	width:380px;
	position:relative;
	
	
}
#header li { 
	display:inline; width:95px; 
	float:left;
	list-style-type:none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 108%;
	 text-align:center; vertical-align:middle; 
 }
 
 


#nav a, #nav a:active, #nav a:visited {
	display: block; padding-top:20px; 
	height:40px; 
	background-color: #ececec;
	text-decoration: none;
	margin-top:20px;
	padding:auto;
	color: #333333;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #666666;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d13165;
}


#nav a:hover;  {
	background-color: #FFFFFF;
	text-decoration: none;
	color: #d13165;
}

#nav a.pageon {
	background-color: #FFFFFF;
	text-decoration: none;
	color: #d13165;
}

#navfirst {height:30px;border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #666666;}



#content {width: 850px; margin-left:50px; 
	height:1000px;
	
 
	top:70px; left:50px; 
	background-color: #FFFFFF; padding-top:20px; 
}

p { font-size:77%; 
	display: block;
	padding-top:5px;
	padding-bottom: 5px; margin:0; line-height: 15px;
}

#trail {float:right; width:600px;margin-right:20px; padding-bottom:10px;  }

#message {float:left; width:800px; border: 1px dotted #999999; padding:5px; margin-left:20px; margin-bottom:10px;  }


#tagbox {font-size:85%;
	background-color: #ececec;
	float:left;
	margin-left:10px;
	padding:5px;
	width:165px;
	border: 1px solid #09bac4;
}



#tagbox a, #tagbox a:active, #tagbox a:visited {
	color: #09bac4;font-size:85%;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #999999; padding-right:2px; padding-left:2px; 
}




#tagbox a:hover {
	color: #333333;
}

li.tagbox-base {
	font-size: 24px;
	display: inline;
}

a.tagbox-anchor {
	text-decoration: none;
}

a.tagbox-earliest {
	color: #ccc;
}

a.tagbox-earlier {
	color: #99c;
}

a.tagbox-later {
	color: #99f;
}

a.tagbox-latest {
	color: #00f;
}

.taglist {margin:0; padding-bottom:5px; padding-left:0;font-size:85%; } 

.taglist li {display:inline; }



.taglist a, .taglist a:visited {color: #09bac4;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #999999; padding-right:2px; padding-left:2px; }
	
.taglist a:hover {color: #333333;}




.datainfo {margin:0; padding:0}

.datainfo li {
	font-size:85%;
	display:inline;
	padding-right:5px;
	padding-left:5px;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #999999;
	color: #999999;
	font-weight: normal;
}

#first {padding-left:0;}






#databox {
	float:right;
	margin-right:20px;
	width:600px;
	margin-bottom:20px; 
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}

#profiledata {float:left; margin-left:65px; width:300px;   }
#profilebutton { 
	float:left;
	margin-left:-65px;
	margin-right:5px;
	background-color: #CCCCCC;
	width:50px;
}




a, a:visited {
	color: #d13165;
	text-decoration: none;
}



a:hover, a:active {
	color: #333333;
	text-decoration: underline;
}


h1 {
	font-size: 108%;
	display: block; margin:0; padding:0; padding-bottom:5px; 
	
}
h2 {
	font-size: 93%;
	display: block;
	margin:0;
	padding:0;
	padding-bottom:3px;
	padding-top:5px;
	color: #666666;
	background-color: #ececec;
}

h3 {
	font-size: 85%; margin:0; 
	
}


.ratingsbox {
	background-color: #CCCCCC;
	height: 50px;
	width: 200px;
	float:right; padding:5px;  }
	
.downloadicon {
	background-color: #FF0000;
	height: 20px;
	width: 20px; float:left; margin-right:10px; margin-left:-33px; 
}



#contentbox {
	float:left;
	margin-left:20px;
	width:790px;
	border: 1px dotted #999999; padding:10px; 
}


#requestbox {
	float:left;
	background-image: url(/core_media/images/requestbox_07.gif);
	width:392px;
	height:225px;
	padding:15px;
	background-repeat: no-repeat;
}

#column1{ float:left; width:385px; padding-left:20px;  }
#column2 { float:right; width:385px; padding-right:20px;  }


.highlight {
	background-color: #d13165;
	display: block;
	padding: 3px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 2px;
	margin-bottom: 2px;
}


#loginbox

{
	background-image: url(/core_media/images/login_10.gif);
	background-repeat: no-repeat;
	height: 222px;
	width: 475px; margin-left:auto; margin-right:auto; margin-top:30px; padding:30px; 
}
