{% if comments %}
  {% for comment in comments %}
    {# TODO: This is obviously a class not an id, fix this here and in css. #}
    <div id="commentbox">
      <h1>
        <a href="{% url core.views.view_profile user_id=comment.posting_user.id %}">{{ comment.posting_user.get_profile.full_title }}</a>
      </h1>
      
      <h4>
        {{ comment.created_at|date:"F d, Y - P"  }}
      </h4>
      
      <p>{{ comment|linebreaksbr }}</p>
  {% endfor %}
{% else %}
  <p>There are no comments yet.</p>
{% endif %}
