<div id="categorybox">
  <h2>
    <a href="{% url categories.views.view_categories %}">
      Categories
    </a>
  </h2>
  
  {% if categories %}
    <ul id="category_list">
      {% for category in categories %}
        <li>
          <a href="{% url categories.views.view_items_for_category category_id=category.id %}">
            {{ category.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are currently no categories available.</p>
  {% endif %}
</div>