<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.iu.informatics.templates"
   name="Templates Plug-in"
   version="1.0.1"
   provider-name="Team IVC"
   class="edu.iu.informatics.templates.TemplatesPlugin">

   <runtime>
      <library name="templates.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="edu.iu.iv.core"/>
      <import plugin="edu.iu.iv.templates"/>
      <import plugin="edu.iu.iv.common"/>
      <import plugin="edu.iu.iv.swtguibuilder"/>
      <import plugin="org.eclipse.pde.ui"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.pde.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>

   <extension point="org.eclipse.pde.ui.pluginContent">
      <wizard 
   	  	name="%pluginContent.fortran.name" 
   	  	icon="icons/ivc.gif" 
   	  	class="edu.iu.informatics.templates.fortran.FortranNewWizard" 
   	  	id="edu.iu.informatics.pluginContent.fortran">
	    <description>
            %pluginContent.fortran.description
        </description>
      </wizard>
      
   </extension>
   
   <extension point="org.eclipse.pde.ui.newExtension">
      <wizard
            category="templates"
            class="edu.iu.informatics.templates.fortran.FortranNewWizard"
            icon="icons/ivc.gif"
            id="edu.iu.informatics.newExtension.fortran"
            name="%newExtension.templates.fortran.name"
            template="edu.iu.informatics.templates.fortran">
	  	<description>
			%newExtension.templates.fortran.desc
         </description>
	  </wizard>	  	   	  	  
   </extension>
   
   <extension point="org.eclipse.pde.ui.templates">
	  <template
         contributingId="org.eclipse.ui.actionSets"
    	 icon="icons/ivc.gif" 
         class="edu.iu.informatics.templates.fortran.FortranTemplate"
         name="%template.fortran.name"
         id="edu.iu.informatics.templates.fortran">
      </template>          
   </extension>
</plugin>
