{% extends "core/browse.html" %}
{% load dataset_templatetags %}
{% load datarequest_templatetags %}
{% load project_templatetags %}

{% block submenu %}
  <ul>
    <li><a class="active_submenu" href="{% url tags.views.view_items_for_tag tag_name=tag_name %}">All</a></li>
    <li><a href="{% url tags.views.view_datasets_for_tag tag_name=tag_name %}">Datasets</a></li>
    <li><a href="{% url tags.views.view_projects_for_tag tag_name=tag_name %}">Projects</a></li>
    <li><a href="{% url tags.views.view_datarequests_for_tag tag_name=tag_name %}">Data Requests</a></li>
  </ul>
{% endblock %}

{% block content %}
  <h3>Items tagged as {{ tag_name }}</h3>
  <h1>Datasets</h1>
  {% if datasets %}      
  	{% datasets_list datasets %}
  {% else %}
    <p>There are no datasets in this category.</p>
  {% endif %}
	  
  <h1>Data Requests</h1>
  {% if datarequests %}
    {% display_datarequests datarequests %}
  {% else %}
   <p>There are no datarequests in this category.</p>
  {% endif %}
    
  <h1>Projects</h1>
  {% if projects %}
    {% list_projects projects %}
  {% else %}
    <p>There are no projects in this category.</p>
  {% endif %}
{% endblock %}