{% extends "core/bases/browse_base.html" %}

{% load core_templatetags %}
{% load datarequest_templatetags %}
{% load dataset_templatetags %}
{% load project_templatetags %}

{% block css %}
  {{ block.super }}
  <link href="/media/core/css/star_rating.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts_header %}
  {{ block.super }}
  <script type="text/javascript" src="/media/core/javascript/image_swap.js"></script>
{% endblock %}

{% block nav %}
  <div id="nav"> 
    {% nav_bar 'Browse' %}
  </div>
{% endblock %}

{% block submenu %}
  {# TODO: Figure out how to actually space this over the *proper* way. #}
  {% browse_submenu 'all' %}
{% endblock %}

{% block content %}
  <h1>Recent Data Requests</h1>
  {% if datarequests %}
    [<a href="{% url epic.datarequests.views.view_datarequests %}">view more</a> recent data requests]
  {% endif %}

  {% datarequest_list_short datarequests %}
  
  <h1>Recent Datasets</h1>
  {% if datasets %}
    [<a href="{% url epic.datasets.views.view_datasets %}">view more</a> recent datasets]
  {% endif %}

  {% dataset_list datasets %}
  
  <h1>Recent Projects</h1>
  {% if projects %}
    [<a href="{% url epic.projects.views.view_projects %}">view more</a> recent projects]
  {% endif %}

  {% project_list projects %}
{% endblock %}

{% block request %}
  <div class="databox">
    <h1>Can't find what you're looking for?
      <a href="{% url datarequests.views.new_datarequest %}" 
         onmouseout="MM_swapImgRestore()" 
         onmouseover="MM_swapImage('Image3','','/media/core/images/request_hover_27.jpg',1)">
             <img src="/media/core/images/request_27.jpg" 
                alt="makerequest" 
                name="Image3" 
                width="150" 
                height="35" 
                border="0" 
                id="Image3" />
      </a>
    </h1>
  </div>
{% endblock %}