{% extends "core/browse.html" %}

{% load dataset_templatetags %}
{% load datarequest_templatetags %}
{% load project_templatetags %}
{% load tags_templatetags %}

{% block submenu %}
  {% tag_submenu tag_name 'all' %}
  </ul>
{% endblock %}

{% block content %}
  <span class="highlight">Tag > {{ tag_name }}</span>
  <h1>Recent Data Requests</h1>
  {% if datarequests %}
    [<a href="{% url tags.views.view_datarequests_for_tag tag_name %}">view more</a> recent data requests with this tag]
    {% datarequest_list_short datarequests %}
  {% else %}
   <p>There are no data requests with this tag.</p>
  {% endif %}
  
  <h1>Recent Datasets</h1>
  {% if datasets %}
    [<a href="{% url tags.views.view_datasets_for_tag tag_name %}">view more</a> recent datasets with this tag]
  	{% dataset_list datasets %}
  {% else %}
    <p>There are no datasets with this tag.</p>
  {% endif %}
    
  <h1>Recent Projects</h1>
  {% if projects %}
    [<a href="{% url tags.views.view_projects_for_tag tag_name %}">view more</a> recent projects with this tag]
    {% project_list projects %}
  {% else %}
    <p>There are no projects with this tag.</p>
  {% endif %}
{% endblock %}