{% extends "core/bases/simple_base.html" %}
{% block content %}
  {% if requests %}
    <h2>Click the icon next to the fulfilling request</h2>
    <table>
    {% for request in requests %}
      <tr>
        <td>
          {{ request.name }}
        </td>
        <td>
          <a href="{% url datarequests.views.view_datarequest item_id=request.id slug=request.slug %}">
            VIEW ICON
          </a>
        <td>
        <td>
          <a href="{% url datarequests.views.fulfill_datarequest item_id=request.id slug=request.slug fulfilling_item_id=item.id %}">
    	    SELECT ICON
       	  </a>
   		</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <h2>You do not have any requests to fulfill</h2>
  {% endif %}
{% endblock %}