{% if projects %}
  {% for project in projects %}
    <div class="databox">
      {% load project_templatetags %}
      {% show_project_header project show_delete_buttons %}
      
      <p>{{ project.description|truncatewords:50 }}</p>
      
      <div class="comments">
			<a href="{{ project.get_absolute_url }}">{{ project.comments.all|length }} comment{{ project.comments.all|length|pluralize }}.</a>
      </div>
    </div>
  {% endfor %}
{% else %}
  <p>There are no projects.</p>
{% endif %}