{% extends "core/browse.html" %}

{% load category_templatetags %}
{% load core_templatetags %}
{% load datarequest_templatetags %}

{% block submenu %}
  {% category_submenu category 'data requests' %}
{% endblock %}

{% block content %}
 <span class="highlight">Category > {{ category.name }}</span>
  <p>Description: {{ category.description }}</p>
  
  <h1>Data Requests</h1>
  {% if datarequests_page %}
    {% pagination datarequests_page %}
    {% datarequest_list datarequests_page.object_list %}
    {% pagination datarequests_page %}
  {% else %}
   <p>There are no datarequests in this category.</p>
  {% endif %}
{% endblock %}
