#recently-fulfilled-requests {
    float: right;
    max-width: 350px;
    min-width: 300px;
}

.requestbox {
    float: left;
    margin: 0 10px 10px;
    max-width: 500px;
    background-color: #ECECEC;
    color: white;
}

.requestbox h1{
    background-color: #D63368;
    padding-left: 5px;
    padding-top: 3px;
}

#request_form fieldset {
	border: 0 none;
}

#request_form fieldset textarea,
#request_form fieldset select,
#request_form fieldset input {
	margin-bottom: 10px;
	clear: both;
}