<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.iu.iv.matrixmodel"
   name="Matrixmodel Plug-in"
   version="1.0.4"
   provider-name="Team IVC">

   <runtime>
      <library name="matrixmodel.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="edu.iu.iv.coltlib"/>
   </requires>

</plugin>
