{% extends "core/browse.html" %}

{% load core_templatetags %}
{% load datarequest_templatetags %}

{% block submenu %}
  <ul>
    <li><a href="{% url tags.views.view_items_for_tag tag_name=tag_name %}">Overview</a></li>
    <li><a class="active_submenu" href="{% url tags.views.view_datarequests_for_tag tag_name=tag_name %}">Data Requests</a></li>
    <li><a href="{% url tags.views.view_datasets_for_tag tag_name=tag_name %}">Datasets</a></li>
    <li><a href="{% url tags.views.view_projects_for_tag tag_name=tag_name %}">Projects</a></li>
  </ul>
{% endblock %}

{% block content %}
  <span class="highlight">Tag > {{ tag_name }}</span>
  
  <h1>Data Requests</h1>
  {% if datarequests_page %}
    {% pagination datarequests_page %}
    {% datarequest_list datarequests_page.object_list %}
    {% pagination datarequests_page %}
  {% else %}
   <p>There are no datarequests with this tag.</p>
  {% endif %}
{% endblock %}