<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.iu.informatics.analysis.connectedcomponents"
   name="Connected Components Plug-in"
   version="1.0.0"
   provider-name="Team NWB">

   <runtime>
      <library name="connectedcomponents.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="edu.iu.iv.core"/>
      <import plugin="edu.iu.informatics.shared"/>
      <import plugin="edu.iu.nwb.core"/>
   </requires>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="edu.iu.informatics.analysis.connectedcomponents.actionSet"
            visible="true"
            id="edu.iu.informatics.analysis.connectedcomponents.actionSet">
         <action
               tooltip="Select to launch Connectedcomponents"
               label="Connected Components"
               class="edu.iu.informatics.analysis.connectedcomponents.ConnectedComponentsPlugin"
               menubarPath="Analysis/additions"
               id="edu.iu.informatics.analysis.connectedcomponents.ConnectedComponentsPlugin">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.iu.informatics.analysis.connectedcomponents.ConnectedComponentsPlugin">
      </startup>
   </extension>

</plugin>
