{% extends "core/bases/browse_base.html" %}
{% block submenu %}
  <ul>
    <li><a href="{% url tags.views.view_items_for_tag tag_name=tag_name %}">All</a></li> 
    <li><a href="{% url tags.views.view_datarequests_for_tag tag_name=tag_name %}">Data Requests</a></li> 
    <li><a href="{% url tags.views.view_datasets_for_tag tag_name=tag_name %}">Datasets </a></li>
  </ul>
{% endblock %}
{% block content %}
<h3>Items tagged as {{ tag_name }}</h3>

<ul>
	{% for specific in specifics %}
		<li><a href="{{ specific.get_absolute_url }}">{{ specific.name }}</a></li>
	{% endfor %}
</ul>
{% endblock %}