{% block scripts_header %}
{{ block.super }}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GOOGLE_KEY }}" type="text/javascript"></script>
{% endblock %}

<style type="text/css">
#map {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 500px; 
    height: 360px;
}
</style>

<script type="text/javascript">
	window.onUnload = GUnload();
</script>



<div id="map"></div>
{% block scripts_footer %}
{{ block.super }}
<script type="text/javascript">


	if (GBrowserIsCompatible()) {
		var map = createMap();
		var locations = getLocations();
		addLocationMarkers(locations);
	}

	function createMap() {
		var map_long = 0;
		var map_lat = 45;
		var map_zoom = 1;
		var map_div = document.getElementById("map");

		var map = new GMap2(map_div);
		
		map.addControl(new GSmallMapControl());
		map.addControl(new GMapTypeControl());
		
		var pt = new GLatLng(map_lat, map_long);
		map.setCenter(pt, map_zoom);
		return map;
	}
	
	function getLocations(){
		
		// The locations are set by the template.  They should be passed in as the location_list
		
		var locations = 
			[
				{% for location in location_list %}
		             [
			             {{ location.longitude }},{{ location.latitude }},'{{ location.canonical_name }}', 
			             	[
				             	{% for dataset in location.datasets.all %}
				             	[
					             	'{{ dataset.name }}','{{ dataset.get_absolute_url }}'
					             ]{% if not forloop.last %},{% endif %}
			             		{% endfor %}
			             	]
			         ]{% if not forloop.last %},{% endif %}
			    {% endfor %}
			];
		return locations;
	}
	
	function addLocationMarkers(locations){
		// Clear all the current markers and draw all the markers from the locations array.
		map.clearOverlays();
		for (var i=0; i < locations.length; i++){
			addLocationMarker(locations[i][0], locations[i][1], locations[i][2], locations[i][3]);
		}
	}
	
	function addLocationMarker(lng, lat, canonical_name, url_list) {
		// Create a marker.
		var markerPoint = new GPoint(lng, lat);
	    var marker = new GMarker(markerPoint);
	    
	    // Create marker info window html.
	    //(the info window will have the name of the marker and a list of dataset names as links to the datasets)
		var infoHtml = '<b>' + canonical_name + '</b>';
		for( var i=0; i < url_list.length ; i++) {
			infoHtml += '<br /><a href="' + url_list[i][1] + '">' + url_list[i][0] + '</a>';
		}
		//When you click a marker, its info window appears
		GEvent.addListener(marker, "click", function() { marker.openInfoWindowHtml(infoHtml); });
		map.addOverlay(marker);
	}
	
	
	
</script>
{% endblock %}