{% if datarequests %}
 	{% for datarequest in datarequests %}
		<div class="databox">
		  <h1> <a href="{% url datarequests.views.view_datarequest item_id=datarequest.id  slug=datarequest.slug%}">{{ datarequest.name }}</a></h1>
		  <ul class="datainfo">
		  	<li id="first">{{ datarequest.creator.get_profile.full_title }}</li>
			<li>{{ datarequest.created_at|date:"F d, Y - P" }}</li>
			{% ifequal user datarequest.creator %}
			  {% ifnotequal datarequest.status 'C'%}
		        {% ifnotequal datarequest.status 'F' %}
		  		  <li><a href="{% url datarequests.views.cancel_datarequest item_id=datarequest.id slug=datarequest.slug %}">Mark Canceled</a></li>
		  		  <li><a href="{% url datarequests.views.fulfill_datarequest item_id=datarequest.id slug=datarequest.slug %}">Mark Fulfilled</a></li>
		  	      <li><a href="{% url datarequests.views.edit_datarequest item_id=datarequest.id slug=datarequest.slug %}">Edit</a></li>
		  		{% endifnotequal %}
			  {% endifnotequal %}
            {% endifequal %}
	  		{% if user.is_authenticated %}
	  		{% ifnotequal user datarequest.creator %}
			  <li><a href="{% url messages.views.send_message user_id=user.id, recipient_id=datarequest.creator.id %}">Contact Creator</a></li>
	  		{% endifnotequal %}
	  		{% endif %}
		  </ul>
		  <p>{{ datarequest.description|truncatewords:50 }}</p>  
		  {% load tags_templatetags %}
      	  {% list_item_tags datarequest user %}
		  <div class="comments">
			<a href="{% url datarequests.views.view_datarequest item_id=datarequest.id slug=datarequest.slug %}">{{ datarequest.comments.all|length }} comment{{ datarequest.comments.all|length|pluralize }}.</a>
		  </div>   
		</div>
	{% endfor %}
{% else %}
<p>There are no datarequests.</p>
{% endif %}