{% extends "core/bases/simple_base.html" %}
{% block content %}
{% if sent_message %}
<h3>Your sent message.</h3>
<table>
  <tr>
    <td>To:</td>
    <td>{{ sent_message.recipient }}</td>
  </tr>
  <tr>
    <td>From:</td>
    <td>{{ sent_message.sender }}</td>
  </tr>
  <tr>
    <td>Subject:</td>
    <td>{{ sent_message.subject }}</td>
  </tr>
  <tr>
  	{# TODO: Add css styling rather than inlining it here #}
    <td colspan="2" style="border-top: thin solid black;">{{ sent_message.message|linebreaksbr }}</td>
  </tr>
</table>
{% else %}
<p>There was a problem finding the message.</p>
{% endif %}
<a href="{% url messages.views.index user_id=user.id%}">Inbox</a>
{% endblock %}