{% extends "core/base.html" %}
{% block content %}
{% if message %}
<table>
  <tr>
    <td>To:</td>
    <td>{{ message.to_user }}</td>
  </tr>
  <tr>
    <td>From:</td>
    <td>{{ message.from_user }}</td>
  </tr>
  <tr>
    <td>Subject:</td>
    <td>{{ message.subject }}</td>
  </tr>
  <tr>
    <td colspan="2">{{ message.message|escape|linebreaks }}</td>
  </tr>
</table>
<h2>Reply to {{ to_user.username }}</h2>
<form action="." method="POST">
    <table>
        {{ reply_form.as_table }}
    </table>
    <p><input type="submit" value="Send Message" /></p>
</form>
{% else %}
<p>There was a problem finding the message.</p>
{% endif %}
<a href="/">Home</a>
{% endblock %}