{% load category_templatetags %}
{% load project_templatetags %}

{% if projects %}
  {% for project in projects %}
    <div class="databox">
      {% project_header project show_delete_buttons %}
      
      <p class="projectinfo">{{ project.tagless_description|truncatewords:50 }}</p>
      {% category_link project %}
      <div class="comments">
        <a href="{{ project.get_absolute_url }}">{{ project.comments.all|length }} comment{{ project.comments.all|length|pluralize }}.</a>
      </div>
    </div>
  {% endfor %}
{% else %}
  <p>There are no projects.</p>
{% endif %}