<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.iu.iv.commonscollectionslib"
   name="Apache Commons Collections 3.1 Library"
   version="1.0.4"
   provider-name="Team IVC">

   <runtime>
      <library name="commons-collections-3.1.jar">
         <export name="*"/>
      </library>
   </runtime>

</plugin>
