<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.iu.informatics.analysis.totaldegreedistribution"
   name="Totaldegreedistr Plug-in"
   version="1.0.0"
   provider-name="">

   <runtime>
      <library name="totaldegreedistr.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="edu.iu.iv.core"/>
      <import plugin="edu.iu.informatics.shared"/>
      <import plugin="edu.iu.nwb.core"/>
   </requires>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="edu.iu.informatics.analysis.totaldegreedistribution.actionSet"
            visible="true"
            id="edu.iu.informatics.analysis.totaldegreedistribution.actionSet">
         <action
               label="Total Degree Distribution"
               class="edu.iu.informatics.analysis.totaldegreedistribution.TotalDegreeDistrPlugin"
               tooltip="Select to launch Totaldegreedistr Plug-in"
               menubarPath="Analysis/additions"
               id="edu.iu.informatics.analysis.totaldegreedistribution.TotalDegreeDistrPlugin">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.iu.informatics.analysis.totaldegreedistribution.TotalDegreeDistrPlugin">
      </startup>
   </extension>

</plugin>
