<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
{% block head %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <title>
    {% block title %}
      EpiC Community Website
    {% endblock %}
  </title>
  
  {% block css %}
    <link href="/core_media/css/epic.css" rel="stylesheet" type="text/css" />
    {# We could include this only as needed. #}
    <link href="/core_media/css/star_rating.css" rel="stylesheet" type="text/css" />
  {% endblock %}
  	
  {% block scripts_header %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  {% endblock %}
{% endblock %}

</head>

<body onload="{% block body_onload %}{% endblock %}">
  <div id="header">
    {% block header %} 
      <a href="{% url core.views.site_index %}">
      	<div id="logo">
          {% block logo %}
          {% endblock %}
      	</div>
      </a>
      <div id="login">
        {% block login %}
          {% if user.is_authenticated %}
            <span id="logged-in-user"><a href="{% url core.views.view_profile user_id=user.id %}">
              {{ user.get_profile.short_title }}
            </a> | </span>
            {% load messages_templatetags %}
            <a href="{% url messages.views.index user_id=user.id %}">Messages ({% num_unread_messages user %})</a> | 
            <a href="{% url core.views.logout_view %}">Log Out</a>
          {% else %}
            {% load core_templatetags %}
            {% login_box %}
          {% endif %}
        {% endblock %}
      </div>
      
      <div id="nav">
        {% block nav %}
          {% load core_templatetags %}
          {% nav_bar %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>
  
  <div id="container">
    {% block container %}
      <div id="maincontent">
        {% block maincontent %}
        {% endblock %}
      </div>
    {% endblock %}
    <div class="clear" style="clear:both" />
  </div>
  
  {% block scripts_footer %}
  {% endblock %}
</body>

</html>
