{% load core_templatetags %}
{% load messages_templatetags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <title>
      {% block title %}
        EpiC Community Website
      {% endblock %}
    </title>
    
    {% block css %}
      <link href="/media/core/css/epic.css" rel="stylesheet" type="text/css" />
      {# We could include this only as needed. #}
      <link href="/media/core/css/star_rating.css" rel="stylesheet" type="text/css" />
    {% endblock %}
    
    {% block scripts_header %}
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    {% endblock %}
  {% endblock %}
</head>

<body onload="{% block body_onload %}{% endblock %}">
  <div id="header">
    {% block header %} 
      <a href="{% url core.views.site_index %}">
        <div id="logo">
          {% block logo %}
          {% endblock %}
        </div>
      </a>
      
      {% block login %}
        {% if user.is_authenticated %}
          <div id="login">
            <ul style="color: white; margin: 2px;">
              {# TODO: I can't make this white. #}
              <li><a href="{% url core.views.view_profile user_id=user.id %}">My Profile</a></li>
              <li><a style="color: white;" href="{% url messages.views.index user_id=user.id %}">Messages ({% num_unread_messages user %})</a></li> 
              <li><a style="color: white;" href="{% url core.views.logout_view %}">Log Out</a></li>
            </ul>
          </div>
        {% else %}
          <script type="text/javascript">
var current = 'shown';
var hiddenDivId = 'quick_login_hidden';
var shownDivId = 'quick_login_shown';

function switchLogin() {
  if (current === 'hidden') {
    showLogin();
  } else if (current === 'shown') {
    hideLogin();
  }
}

function showLogin() {
  jQuery('#' + hiddenDivId).hide();
  jQuery('#' + shownDivId).show();
  current = 'shown';
}

function hideLogin() {
  jQuery('#' + shownDivId).hide();
  jQuery('#' + hiddenDivId).show();
  current = 'hidden';
}
          </script>
          
          <div id="switcher" style="position: absolute;
                                    width: 165px;
                                    height: 64px;
                                    right: 0px;
                                    top: 0px;
                                    margin-right: 20px;
                                    z-index: 12;"
                             onclick="switchLogin(); return false;">
          </div>
          
          <div id="quick_login_hidden" style="position: absolute; 
		                                      width: 165px; 
		                                      height: 64px; 
		                                      right: 0px; 
		                                      top: 0px; 
		                                      margin-right: 20px;
		                                      padding-top: 60px;
		                                      padding-left: 10px;
		                                      background-image: url(/media/core/images/loginbox_02.gif);
		                                      background-repeat: no-repeat;
		                                      z-index: 11;">
          </div>
          
          <div id="quick_login_shown" style="position: absolute; 
		                                     width: 165px; 
		                                     height: 178px; 
		                                     right: 0px; 
		                                     top: 0px; 
		                                     margin-right: 20px;
		                                     padding-top: 60px;
		                                     padding-left: 10px;
		                                     background-image: url(/media/core/images/login_ON_02.gif);
		                                     background-repeat: no-repeat;
		                                     z-index: 11;">
            
            {% login_box %}
          </div>
          <script type="text/javascript">
            //(Login is shown by default)
            //(If the user has javascript enabled, this makes the login hidden when the page loads)
            switchLogin();
          </script>
        {% endif %}
      {% endblock %}
      
      <div id="nav">
        {% block nav %}
          {% nav_bar %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>
  
  <div id="container">
    {% block container %}
      <div id="maincontent">
        {% block maincontent %}
        {% endblock %}
      </div>
      <div id="footer">
        {% block footer %}
          <center>
            <p>
			  {% comment %}
              Use of this site constitutes acceptance of our <a href='{% url epic.core.views.terms_and_conditions %}'>Terms & Conditions</a> and <a href='{% url epic.core.views.privacy_policy %}'>Privacy Policy</a>.
              {% endcomment %} 
              &copy; 2011 Indiana University. All rights reserved.
            </p>
          </center>
        {% endblock %}
      </div>
    {% endblock %}
    
    <div class="clear" style="clear:both;" />
  </div>
  
  {% block scripts_footer %}
  {% endblock %}
</body>

</html>
