{% extends "core/bases/base.html" %}

{% load category_templatetags %}
{% load tags_templatetags %}

{% block maincontent %}
  <div id="submenu">
    {% block submenu %}
    {% endblock %}
  </div>
  
  <div id="browsecontent">
    {% block browsecontent %}
      {# TODO: Tagbox should be a separate div inside leftsidebar, or whatever we call it. #}
      {% block leftsidebar %}
        {% categories_box %}
        {% show_tag_cloud %}
      {% endblock %}
      
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    {% endblock %}
    
    {{ block.super }}
  </div>
{% endblock %}
