{% extends "core/bases/base.html" %}

{% load category_templatetags %}
{% load search_templatetags %}
{% load tags_templatetags %}

{% block maincontent %}
   
  <div id="homebox">
    <div id="browsecontent">
      {% block browsecontent %}
        <div id="homecolumn2">
          {% block homecolumn2 %}
          {% endblock %}
        </div>
        
        <div id="homecolumn3">
          {% block homecolumn3 %}
          {% endblock %}
        </div>
        
         
        
      {% endblock %}
    </div>
    
    <div id="leftsidebarindex">
      {% block leftsidebar %}
      {% search_box %}
      {% categories_box %}
      {% show_tag_cloud %}
      {% endblock %}
      <br/>
      <a href="http://epic.wiki.cns.iu.edu" target="_blank">Try EpiC Tool Now!</a>
  </div>
    
  </div>
{% endblock %}
