{% block content %}
	<p>
		<!--The username was supplied, which means data was POST'ed prior.>
		{% if username %}
			{% if not_found %}
				The username {{ username }} is not valid.  Please try again.
			{% else %}
				The password for <b>{{ username }}</b> has been reset and e-mailed to <b>{{ email }}</b>.
			{% endif %}
		{% endif %}
	</p>
	
	{% if form %}
		<form action="/user/forgotpassword/" method="POST">
			{{ form.as_table }}
			<input type="submit" value="Submit">
		</form>
	{% endif %}
{% endblock %}