{% extends "core/base.html" %}
{% block content %}
	<h3>Displaying profile of {{ profile.user.first_name }} {{ profile.user.last_name }}.</h3>
	<p><b>Username:</b> {{ profile.user.username }}</p>
	<p><b>First Name:</b> {{ profile.user.first_name }}</p>
	<p><b>Last Name:</b> {{ profile.user.last_name }}</p>
	<p><b>Affiliation:</b> {{ profile.affiliation }}</p>
	<p><b>Date Joined:</b> {{ profile.user.date_joined }}</p>
	<p><b><a href="/user/change_password">Change Password</a></b></p>
	<hr>
	{% if datasets %}
	  <h3>Your Datasets</h3>
	  <table>
	  <tr>
	    <th>Name</th>
	    <th>Uploaded</th>
	  </tr>
	  {% for dataset in datasets %}
	  <tr>
	    <td><a href="{{ dataset.get_absolute_url }}">{{ dataset.name }}</a></td>
	    <td>{{ dataset.created_at }}</td>
	  </tr>
	  {% endfor %}
	  </table>
	{% endif %}
	<a href="/datasets/">View All Datasets</a>
{% endblock %}
