{% extends "core/browse.html" %}

{% block submenu %}
  <ul>
    <li><a href="{% url categories.views.view_items_for_category category_id=category.id %}">All</a></li>
    <li><a href="{% url categories.views.view_datasets_for_category category_id=category.id %}">Datasets</a></li>
    <li><a href="{% url categories.views.view_projects_for_category category_id=category.id %}">Projects</a></li>
    <li><a href="{% url categories.views.view_datarequests_for_category category_id=category.id %}">Data Requests</a></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="databox">
    <h3>{{ category.name }}</h3>
    <p>{{ category.description }}</p>
  </div>
  
  {% if specifics %}
    <ul id="category_items">
      {% for specific in specifics %}
        <li>
          <a href="{{ specific.get_absolute_url }}">
            {{ specific.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no items for this category.</p>
  {% endif %}
{% endblock %}
